@using ADDCART.Models.Database;
@{
    ViewBag.Title = "CheckOutDetails";
}

<h2>CheckOutDetails</h2>


@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in (List<Product>)Session["cart"])
            {
            <tr>
                <td>@Product.productId</td>
                <td>@Product.Name</td>
                <td>@Product.Quantity</td>
                <td>@Product.Price</td>

            </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-success" >Confirm Order</a>
}