@model List<ADDCART.Models.Database.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <td><b>Product Id</b></td>
            <td><b>Name</b></td>
            <td><b>Price</b></td>
            <td><b>Quantity</b></td>
            <td><b>Action</b></td>
        </tr>

        @foreach (var b in Model)
        {
            <tr>
                <td>@b.productId</td>
                <td>@b.Name</td>
                <td>@b.Price</td>
                <td>@b.Quantity</td>
                
                <td>
                    @using (Html.BeginForm("AddCart", "Product", new { @productId = b.productId }, FormMethod.Post))
                    {
                        
                        <a href="/@b.productId" class="btn btn-danger">Add to Cart</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>

